<div class="usa-table-container--scrollable" tabindex="0">
<table class="usa-table usa-table--borderless">
  {{ $url := .Get "url" }}
  {{ $sep := .Get "sep" }}
  {{ $caption := .Get "caption" }}
  {{ $data := newScratch }}
  {{ $data.Set "reference_col_index" -1}}
  {{ range $i, $r := getCSV $sep $url }}
    {{ if eq $i 0 }}
    <thead>
          <tr>
            {{ range $k, $v := $r }}
              {{ if eq $v "References"}}
                {{ $data.Set "reference_col_index" $k}}               
              {{end}}
              {{ if eq $k 0 }}
              <th style="position: sticky; left: 0px; background:rgb(255, 255, 255); z-index:100;" data-sortable scope="col" role="columnheader">{{ . }}</th>
              {{else}}
              <th data-sortable scope="col" role="columnheader">{{ . }}</th>
              {{end}}
            {{end}}
          </tr>
        </thead>
      {{else}}
          <tr>
            {{ range $k, $v := $r }}
              {{ if eq $k 0}}
                <th style="position: sticky; left: 0px; background:rgb(255, 255, 255); z-index:100;" scope="row" class="font-mono-sm text-tabular text-right">{{ . }}</th>
              {{else}}
                {{if eq $k ($data.Get "reference_col_index")}}
                  <td scope="row">
                    {{- printf "%v" . |
                    strings.ReplaceRE `\['` "{{< cite \"" |
                    strings.ReplaceRE `,` ";" |
                    strings.ReplaceRE `']` "\" >}}"
                    -}}
                  </td>
                {{else}}
                  <td scope="row">{{ . | markdownify }}</td>
                {{end}}
              {{end}}
            {{end}}
          </tr>
      {{end}}
    {{end}}
<caption>{{ $data.Get "reference_col_index" }}</caption>
</table>
<div
class="usa-sr-only usa-table__announcement-region"
aria-live="polite"
></div>
</div>