name: aws-deploy

on:
  push:
    branches:
      - main  # Set a branch to deploy
  pull_request:
  repository_dispatch:
    types: [automated_deploy]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install pyspelling
      - name: Install Hunspell
        run: |
          sudo apt-get install hunspell hunspell-en-us
      - name: Build documents
        run: |
          # Perform any documentation building that might be required
      #- name: Spell check
      #  run: |
      #    python -m pyspelling

      - name: Setup Hugo
        uses: actions/setup-node@v3
        with:
          node-version: 17.3.0
      - name: Build Site
        run: |
          npm install
          npm run build

      - name: Set AWS credentials for upload
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      
      - name: Upload to S3
        run: aws s3 sync ./public/ s3://asc-docs/foundationaldataproducts/ --delete
